# Raw data
data/
exclusions.txt
sf/plts

#Ignore all logs
*.log
log.log

# Intermediate model files.
mixture_model.json
model_A_spec.json
model_B_spec.json

# Ignore sf, since it has some large files.
# We can force commit some special small files or examples.
sf/
mf/

# Ignore HDF5 files unless they are force committed.
*.hdf5

#Ignore Starfish for now.
Starfish

# Formatting for the document
document/apj.bst
document/emulateapj-rtx4.cls
document/emulateapj.cls
document/final/
document/old/
document/setup.tex
document/yahapj.bst
document/figures/
document/*.out

*.numbers


.ipynb_checkpoints
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
